 <h2>メンバーを追加してください</h2>
 <% @members.each do |member| %>
 <div><%= link_to member.name,member_path(member) %></div>
<% end %>
<%= link_to "メンバーの追加", new_member_path %>

<br><button class="favorite styled"type="button">
    イベントリンクを送る
</button></br>

